<%= form_for(@employe) do |f| %>

 <%= f.error_messages %>

    <div class="form-group">
      <label>Prénom</label>
      <%= f.text_field :prenom, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Nom</label>
      <td><%= f.text_field :nom, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Adresse</label>
      <td><%= f.text_field :adresse1, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Adresse</label>
      <td><%= f.text_field :adresse2, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Adresse</label>
      <td><%= f.text_field :adresse3, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>NAS</label>
      <td><%= f.text_field :nas, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Courriel</label>
      <td><%= f.text_field :courriel, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>Date de naissance</label>
      <td><%= f.text_field :naissance, type: 'date', class: 'form-control' %>
    </div>
    
     <%= f.submit button_name, :class => "btn btn-primary" %>
    <%= f.submit( 'Annuler', {name: 'cancel', class: "btn btn-default"}) %>
<% end %>
