<%= form_for(@employe) do |f| %>

 <%= f.error_messages %>

  <table>
    <tr>
      <td>Prénom</td>
      <td><%= f.text_field :prenom, :size => 20 %></td>
    </tr>
    <tr>
      <tr>Nom</td>
      <td><%= f.text_field :nom, :size => 20 %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password, :size => 10 %></td>
    </tr>
    <tr>
      <td>Password </td>
      <td><%= f.password_field :password_confirm, :size => 10 %></td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td><%= f.text_field :adresse1, :size => 20 %></td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td><%= f.text_field :adresse2, :size => 20 %></td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td><%= f.text_field :adresse3, :size => 20 %></td>
    </tr>
    <tr>
      <td>NAS</td>
      <td><%= f.text_field :nas, :size => 9 %></td>
    </tr>
    <tr>
      <td>Courriel</td>
      <td><%= f.text_field :courriel, :size => 20 %></td>
    </tr>
    <tr>
      <td>Date de naissance</td>
      <td><%= f.date_select :naissance, :start_year => Date.today.year - 30, :end_year => Date.today.year - 14 %></td>
    </tr>
    
  </table>
  <p>
    <%= f.submit button_name, :class => "submit" %>
  </p>
<% end %>
