<h1>Détails d'une Paie</h1>

  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
     <li><%= button_to('Expédier courriel', releveCourriel_periode_paie_path(@periode,@paie), {class: "btn btn-default navbar-btn"}) %></li>
     <% if @paie.cheque_no || 0 > 0 %>
       <li><%= link_to 'Impression du chèque', {:controller => 'periodes', :action => 'cheques', :id => @paie.periode_id, :format => :pdf, :paie_id => @paie.id} %></li>
     <% end %>
   </ul>
  </nav>
        

<div class="form-horizontal">
<div class="form-group">
    <label class="control-label col-sm-3">Nom</label>
    <div class="col-sm-3"><p class="form-control-static"><%= @paie.nom_employe %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Chèque no.</label>
    <div class="col-sm-3"><p class="form-control-static"><%= @paie.cheque_no %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Remboursement de dépenses</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.remb_depense, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Ajustement d'heures</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.ajustement_heures, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Autre gain imposable</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.autre_gain_imposable, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Vacances</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.vacances, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Salaire brut</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.brut, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Salaire net</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.net, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Déduction A-E</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.ae, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Déduction RRQ</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.rrq, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Déduction RQAP</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.rqap, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Impôt fédéral</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.impot_fed, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Impôt provincial</label>
    <div class="col-sm-3"><p class="form-control-static"><%= number_with_precision(@paie.impot_prov, :precision => 2) %></p></div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3">Note</label>
    <div class="col-sm-3"><p class="form-control-static"><%= @paie.note %></p></div>
  </div>

</div>
