<h1>Feuilles de temps pour le <%= @feuille_groupe.debut -%></h1>

<!-- afficher toutes le sommaires des feuilles ainsi que les operations permises pour
     chacune des feuilles.
     Si la feuille a deja ete utilisee pour une paie, elle ne peut etre modifiee.
 -->

<table>
  <tr><th>Nom</th><th>Total heures</th><th></th><th></th><th></th></tr>
  <% for @feuille in @feuille_groupe.feuilles %>
    <tr>
      <td><%= @feuille.nom %></td>
      <td align="right"><%= number_with_precision(@feuille.totalHeures, :precision => 2) %></td>
      <% if @feuille.id.nil? %>
        <td><%= link_to 'Ajouter', { :controller => '/feuilles', :action => "new", :employe_id => @feuille.employe_id, :periode => @feuille_groupe.debut }%></td>
      <% else %>
        <td><%= link_to 'Afficher', { :controller => '/feuilles', :action => "show", :id => @feuille.id }%></td>
        <% unless @feuille.locked %>
          <td><%= link_to 'Modifier', { :controller => '/feuilles', :action => "edit", :id => @feuille.id }%></td>
          <td><%= link_to 'Enlever', { :controller => '/feuilles', :action => "destroy", :id => @feuille.id}, :confirm => 'Etes-vous certain?', :method => :delete%></td>
        <% end %>
          <td><%= link_to 'Sommaire', { :controller => '/feuilles', :action => "sommaire", :id => @feuille.id }%></td>
      <% end%>
    </tr>
  <% end %>
  <tr>
    <td>&nbsp</td>
    <td align="right"><%= number_with_precision(@feuille_groupe.totalHeures, :precision => 2) %></td>
  </tr>
</table>

<%= link_to 'Sommaire', { :action => "sommaire", :id => @feuille_groupe.debut }%> |
<%= link_to 'Gel des employés edit', employeLock_feuille_groupe_path(@feuille_groupe.debut), :method => :post %> |
<%= link_to 'Dégel des employés edit', employeUnlock_feuille_groupe_path(@feuille_groupe.debut), :method => :post %> |
<%= link_to 'Retour', { :action => "index", :id => @feuille_groupe.debut } %>