<h1>Transactions du GL pour la période de paie du <%= @periode.debut -%></h1>

<table style="width:30em" class="table table-condensed table-hover">
  <thead>
    <tr><th style="width:10em">Compte</th><th style="width:10em; text-align:right;">Débit</th><th style="width:10em;text-align:right;">Crédit</th></tr>
  </thead>
  <tr><td>Dépenses - salaires</td><td align="right"><%= number_with_precision(@gl.brut, :precision => 2) %></td><td></td></tr>
  <tr><td>Dépenses - AE</td><td align="right"><%= number_with_precision(@gl.ae_depense, :precision => 2) %></td><td></td></tr>
  <tr><td>Dépenses - RRQ</td><td align="right"><%= number_with_precision(@gl.rrq_depense, :precision => 2) %></td><td></td></tr>
  <tr><td>Dépenses - RQAP</td><td align="right"><%= number_with_precision(@gl.rqap_depense, :precision => 2) %></td><td></td></tr>
  <tr><td>Dépenses - FSS</td><td align="right"><%= number_with_precision(@gl.fss_depense, :precision => 2) %></td><td></td></tr>
  <tr><td>Dépenses - CSST</td><td align="right"><%= number_with_precision(@gl.csst_depense, :precision => 2) %></td><td></td></tr>
  <tr><td>Actifs - comptant</td><td></td><td align="right"><%= number_with_precision(@gl.net, :precision => 2) %></td></tr>
  <tr><td>Passif - AE</td><td></td><td align="right"><%= number_with_precision(@gl.ae_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - RRQ</td><td></td><td align="right"><%= number_with_precision(@gl.rrq_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - RQAP</td><td></td><td align="right"><%= number_with_precision(@gl.rqap_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - FSS</td><td></td><td align="right"><%= number_with_precision(@gl.fss_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - CSST</td><td></td><td align="right"><%= number_with_precision(@gl.csst_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - Imp Fed</td><td></td><td align="right"><%= number_with_precision(@gl.impot_fed_passif, :precision => 2) %></td></tr>
  <tr><td>Passif - Imp Prov</td><td></td><td align="right"><%= number_with_precision(@gl.impot_prov_passif, :precision => 2) %></td></tr>
</table>

