<h1>Liste des périodes de paie</h1>

<table style="width:20em;" class="table table-hover">
  <thead>
    <tr><th>Début</th><td></td></tr>
  </thead>

<% for periode in @periodes %>
  <tr>
    <% if periode.new_record? %>
      <td><%= periode.debut %></td>
      <td><%= button_to('Créer', periodes_path(params: {debut: periode.debut}), class: "btn btn-xs btn-primary") %></td>
    <% else %>
      <td><%= link_to periode.debut, periode %></td>
       <% unless periode.locked %>
        <td><%= button_to('Enlever', periode, {data: {confirm: 'Etes vous certain?'}, method: :delete, class: "btn btn-danger btn-xs"})%></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% ans = Periode.annees %>
<% if !ans.empty? %>
  <% ans.each do | an |%>
    <%= link_to an, :controller => 'periodes', :action => 'annees' , :an => an %> | 
  <% end %>
<% end %>