<h1>Ajouter une période de paie</h1>

<%= form_for(@periode) do |f| %>

 <%= f.error_messages %>

  <p>
    <b>Date du début de la période de paie</b>
    <%= f.date_select :debut %>
  </p>

  <p>
    <%= f.submit "Créer" %>
  </p>
<% end %>

<%= link_to 'Retour', periodes_path %>
