<h1>Période de paie du <%= @periode.debut -%></h1>


  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
<% unless @periode.locked %>
      <li><%= link_to 'Modifier', edit_periode_path(@periode) %></li>
      <li><%= link_to 'Calculer', calculer_periode_path(@periode) %></li>
<% end %>
      <% if Employeur.instance.cheques? %>
        <li><%= link_to 'Impression des chèques', cheques_periode_path(@periode) %></li>
      <% end %>
      <li><%= link_to 'Courriels des relevés', employeCourriels_periode_path(@periode), method: :post %></li>
      <li><%= link_to 'Sommaire', sommaire_periode_path(@periode) %></li>
      <li><%= link_to 'Transactions du GL', gl_periode_path(@periode) %></li>
      <li><%= link_to 'Retour', periodes_path %></li>
   </ul>
  </nav>

<div class="table-responsive">  
<table class="table table-condensed table-hover">
  <thead><tr><th>Nom</th><th>Chèque</th><th class="text-right">Total</th><th class="text-right">Net</th><th class="text-right">Remb. Dép.</th><th class="text-right">Ajust. Hrs</th><th class="text-right">Autre Gain</th><th class="text-right">Heures</th><th>Feuille de Temps</th></tr></thead>
    <% for @paie in @periode.paies %>
      <tr>
          <% if not @paie.id.nil? %>
            <td><%= link_to @paie.nom_employe, [@periode, @paie] %></td>
          <% else %>
            <td><%= @paie.nom_employe %></td>
          <% end %>
        <td>
          <%= @paie.cheque_no %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.total, :precision => 2) %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.net, :precision => 2) %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.remb_depense, :precision => 2) %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.ajustement_heures, :precision => 2) %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.autre_gain_imposable, :precision => 2) %>
        </td>
        <td align="right">
          <%= number_with_precision(@paie.heures, :precision => 2) %>
        </td>
        <td>
          <% if not @paie.feuille_id.nil? %>
            <%= link_to 'Afficher', { :controller => '/feuilles', :action => 'show', :id => @paie.feuille_id}, {class: "text-center"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <tfoot>
  <tr>
    <td>Totaux:</td>
    <td/>
    <td align="right"><%= number_with_precision(@periode.total_total, :precision => 2)%></td>
    <td align="right"><%= number_with_precision(@periode.net_total, :precision => 2)%></td>
    <td align="right"><%= number_with_precision(@periode.remb_depense_total, :precision => 2)%></td>
    <td align="right"><%= number_with_precision(@periode.ajustement_heures_total, :precision => 2)%></td>
    <td align="right"><%= number_with_precision(@periode.autre_gain_imposable_total, :precision => 2) %></td>
    <td align="right"><%= number_with_precision(@periode.heures_total, :precision => 2) %></td>
    <td></td>
  </tr>
  </tfoot>
</table>
</div>
<%= render :partial => 'totaux', :object => @periode %>

