<h1>Afficher les Constantes de Calcul de la Paie</h1>

<h2>Impôt fédéral</h2>
<table>
  <tr><th>Revenu Annuel</th><th>Taux R</th><th>Cte K</th></tr>
  <tr>
    <td>jusqu'à <%= number_with_delimiter(@constante_paie.impFedI1) %></td>
    <td><%= number_with_precision(@constante_paie.impFedR1, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impFedK1) %></td>
  </tr>
  <tr>
    <td>jusqu'à <%= number_with_delimiter(@constante_paie.impFedI2) %></td>
    <td><%= number_with_precision(@constante_paie.impFedR2, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impFedK2) %></td>
  </tr>
  <tr>
    <td>jusqu'à <%= number_with_delimiter(@constante_paie.impFedI3) %></td>
    <td><%= number_with_precision(@constante_paie.impFedR3, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impFedK3) %></td>
  </tr>
  <tr>
    <td>et plus</td>
    <td><%= number_with_precision(@constante_paie.impFedR4, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impFedK4) %></td>
  </tr>
</table>
<b>Déduction de base: </b><%= number_with_delimiter(@constante_paie.deductionBaseFed) %><br/>

<h2>Impôt provincial</h2>
<table>
  <tr><th>Revenu Annuel</th><th>Taux T</th><th>Cte K</th></tr>
  <tr>
    <td>jusqu'à <%= number_with_delimiter(@constante_paie.impProvI1) %></td>
    <td><%= number_with_precision(@constante_paie.impProvT1, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impProvK1) %></td>
  </tr>
  <tr>
    <td>jusqu'à <%= number_with_delimiter(@constante_paie.impProvI2) %></td>
    <td><%= number_with_precision(@constante_paie.impProvT2, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impProvK2) %></td>
  </tr>
  <tr>
    <td>et plus</td>
    <td><%= number_with_precision(@constante_paie.impProvT3, :precision => 2) %></td>
    <td><%= number_with_delimiter(@constante_paie.impProvK3) %></td>
  </tr>
</table>
<b>Déduction de base: </b><%= number_with_delimiter(@constante_paie.deductionBaseProv) %><br/>

<h2>Assurance-emploi</h2>
<table>
<tr><td>Taux de l'employé: </td><td><%= number_with_precision(@constante_paie.aeTauxEmploye, :precision => 4) %></td></tr>
<tr><td>Maximum annuel de l'employé: </td><td><%= number_with_precision(@constante_paie.aeMaximumEmploye, :precision => 2) %></td></tr>
<tr><td>Maximum gains assurables: </td><td><%= number_with_precision(@constante_paie.aeMaximumGainAssurable, :precision => 2) %></td></tr>
<tr><td>Taux de l'employeur: </td><td><%= number_with_precision(@constante_paie.aeTauxEmployeur, :precision => 3) %></td></tr>
</table>

<h2>Régime de retraite</h2>
<table>
<tr><td>Taux de l'employé: </td><td><%= number_with_precision(@constante_paie.rrqTauxEmploye, :precision => 4) %></td></tr>
<tr><td>Maximum annuel de l'employé: </td><td><%= number_with_precision(@constante_paie.rrqMaximumEmploye, :precision => 2) %></td></tr>
<tr><td>Taux de l'employeur: </td><td><%= number_with_precision(@constante_paie.rrqTauxEmployeur, :precision => 4) %></td></tr>
<tr><td>Exemption de l'employé: </td><td><%= number_with_precision(@constante_paie.rrqExemptionEmploye, :precision => 2) %></td></tr>
</table>

<h2>Régime assurance parentale</h2>
<table>
<tr><td>Taux de l'employé: </td><td><%= number_with_precision(@constante_paie.rqapTauxEmploye, :precision => 5) %></td></tr>
<tr><td>Maximum annuel de l'employé: </td><td><%= number_with_precision(@constante_paie.rqapMaximumEmploye, :precision => 2) %></td></tr>
<tr><td>Taux de l'employeur: </td><td><%= number_with_precision(@constante_paie.rqapTauxEmployeur, :precision => 5) %></td></tr>
</table>

<h2>Fond de la santé</h2>
<table>
<tr><td>Taux de l'employeur: </td><td><%= number_with_precision(@constante_paie.fssTauxEmployeur, :precision => 3) %></td></tr>
</table>

<h2>CSST</h2>
<table>
<tr><td>Taux de l'employeur: </td><td><%= number_with_precision(@constante_paie.csstTauxEmployeur, :precision => 4) %></td></tr>
</table>


<%= link_to 'Edit', edit_constante_paie_path(@constante_paie) %>
