<h1>Listes des employés</h1>

  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
     <li><%= button_to('Ajouter un employé', new_employe_path, {method: :get, class: "btn btn-default navbar-btn"}) %></li>
     <li><%= link_to 'Inactifs', inactifs_employes_path %></li>
   </ul>
  </nav>
        

<table class="table table-hover">
  <thead>
  <tr>
    <th></td>
    <th>Nom</th>
    <th>Etat</th>
    <th>Courriel</th>
    <th>NAS</th>
    <th>Salaire</th>
  </tr>
  </thead>
  <tbody>
<% idx = 1 %>
<% for employe in @employes %>
  <tr>
    <td><%= idx.to_s %></td>
    <td><%= link_to employe.nom_prenom, employe %></td>
    <td><%=h employe.etat %></td>
    <td><%=h employe.courriel %></td>
    <td><%=h employe.nas %></td>
    <td><%=h number_with_precision(employe.salaire_horaire, :precision => 2) %></td>
    <td></td>
    <td><%= button_to('Enlever', employe, {data: {confirm: 'Etes vous certain?'}, :method => :delete, class: "btn btn-danger btn-xs"}) %></td>
  </tr>
  <% idx = idx + 1 %>
<% end %>
</tbody>
</table>

